*{
    font-family: 'Sriracha', cursive;
}
.container {
    margin: 0 auto;
    max-width: 77%;
    /*max-width: 951px;*/
    padding: 10px;
}
.goods_wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    /*justify-content: space-between;*/
    /*justify-content: center;*/
    margin: 0 10%;
    width: 100%;
}
.goods_wrapper_item{
    /*display: inline-block;*/
    min-width: 25%;
    margin: 11px;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.goods_wrapper_item:hover{
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    margin: 10.5px;
}
.img_pizza{
    margin: 0 auto;
    display: block;
    width: 215px;
    height: 200px;
}
.radio_wrap{
    text-align: center;
    margin: 15px;
    padding: 5px;
    border-bottom:1px solid #666666;

}
#btn{
    border:1px solid goldenrod;
    border-radius: 0 20px 0 18px;
    font-size: 17px;
    padding: 2px 19px;
    outline: none;
}
#btn:hover{
    background-color: gold;
}
.cheese1, .meat2, .tomato3{
    margin: 5px;
}
.hide{
    display: none;
}
.test{
    display: none;
}
/*____________________________________________________________________*/
header{
    margin: 70px 0;
}
h1{
    text-align: center;
}

#test {
    transition: 1s;
    max-width: 383px;
    position: absolute;
    top: 0;
    opacity: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
}

#test .item1, #test .item2 {
    box-sizing: border-box;
    height: 40px;
    width: 160px;
    vertical-align: middle;
    text-align: center;
    -moz-box-sizing: content-box;
    background-color: aliceblue;

}
#test .item1{
    border-radius: 0 20px 0 18px;
    border:1px solid goldenrod;
}
#test .item2{
    border-radius:  20px 0 18px 0;
    border:1px solid goldenrod;
}

.item1 span {
    text-decoration: none;
    display: inline-block;
    transform: translateY(9px);
    color: brown;
    background-color: aliceblue;
    font-family: 'Raleway', sans-serif;
}

.item2 span {
    text-decoration: none;
    display: inline-block;
    transform: translateY(9px);
    color: cornflowerblue;
    background-color: aliceblue;
    font-family: 'Raleway', sans-serif;
}

.wrapper_test {
    position: relative;
}

#buttonH1 {
    font-family: 'Raleway', sans-serif;
    vertical-align: middle;
    text-align: center;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    max-width: 384px;
    margin: 20px auto 0;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: orange;
    padding: 1em 2em;
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 100px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 5;
}

#buttonH1 span {
    position: relative;
    pointer-events: none;
}

#buttonH1::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: var(--w);
    height: var(--w);
    background: radial-gradient(circle closest-side, sandybrown, transparent);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -o-transition: all 3s ease;
    transition: all 3s ease;
}

#buttonH1:hover::before {
    --w: 450px;
}

